<div
  class="border pad"  
  style="width: 19rem"
>
  <div class="card" style="width: 18rem">
    <div class="card-header">
      <h4 class="text-center">Department Details</h4>
    </div>
    <div class="card-body" *ngIf="department$ | async as department">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: {{ department.name }}</li>
      </ul>
    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-outline-primary form-control" (click)="backToList()">
        Back
      </button>
    </div>
  </div>
</div>
